h1 {
    color: red;
    background-color: yellow;
    padding: 10px;
    text-align: start;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
}

td {
    text-align: start;
    vertical-align: top;
}

th {
    background-color: black;
    color: white;
}

h2 {
    color: green;
    border-bottom: 2px dashed green;
}

h3 {
    color: blue;
}

p {
    line-height: 1.2em;
}

em {
    background-color: violet;
}